<h1>
    {{'trNewStudPgHdr' | translate}}
</h1>
<form #f="ngForm" (ngSubmit)="addNew()" novalidate>
    <div class="form-group">
        <label for="name">{{'trStudNameFldLbl' | translate}}</label>
        <input class="form-control" type="text" [(ngModel)]="student.name" name="name" placeholder="{{'trStudNameFldPlc'|translate}}"
            required #first="ngModel">
        <div class="alert alert-danger" *ngIf="first.touched && !first.valid">{{'trGenValdFieldIsRequired'|translate}}</div>
    </div>
    <div class="form-group">
        <label for="midlleName">{{'trStudMiddleNameFldLbl' | translate}}</label>
        <input class="form-control" type="text" [(ngModel)]="student.middleName" name="midlleName" placeholder="{{'trStudMidlleNameFldPlc'|translate}}">
    </div>
    <div class="form-group">
        <label for="lastName">{{'trStudLastNameFldLbl' | translate}}</label>
        <input class="form-control" type="text" [(ngModel)]="student.lastName" name="lastName" placeholder="{{'trStudLastNameFldPlc'|translate}}"
            required #last="ngModel">
        <div class="alert alert-danger" *ngIf="last.touched && !last.valid">{{'trGenValdFieldIsRequired'|translate}}</div>
    </div>
    <div class="form-group">
        <label for="birthdate">{{'trStudBirthDateFldLbl' | translate}}</label>
        <input class="form-control" type="date" [(ngModel)]="student.birthDate" name="birthDate" placeholder="{{'trStudBirthDateFldPlc'|translate}}"
            required #birth="ngModel">
        <div class="alert alert-danger" *ngIf="birth.touched && !birth.valid">{{'trGenValdFieldIsRequired'|translate}}</div>
    </div>
    <button class="btn btn-default" [disabled]="!f.valid">
    {{'trGenAddBtn'|translate}}
</button>
</form>
<table class="table" *ngIf="students">
    <thead>
        <tr>
            <th>{{'trStudNameFldLbl' | translate}}</th>
            <th>{{'trStudMiddleNameFldLbl' | translate}}</th>
            <th>{{'trStudLastNameFldLbl' | translate}}</th>
            <th>{{'trStudBirthDateFldLbl' | translate}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let student of students">
            <td>{{ student.name }}</td>
            <td>{{ student.midlleName }}</td>
            <td>{{ student.lastName }}</td>
            <td>{{ student.birthDate | date }}</td>
        </tr>
    </tbody>
</table>